 <header id="header" class="header header-box-shadow-on-scroll header-abs-top-lg header-bg-transparent-lg header-show-hide-lg"
          data-hs-header-options='{
            "fixMoment": 500,
            "fixEffect": "slide"
          }'>
	<div class="header-section">
	  <div id="logoAndNav" class="container">
	    <!-- Nav -->
	    <nav class="js-mega-menu navbar navbar-expand-lg">
	      <!-- Logo -->
	      <a class="navbar-brand" href="/" aria-label="Front">
	        <img src="/svg/logos/mo-logo-dblue.svg" alt="Logo" style="width: 70px; padding: 10px;">
	      </a>
	      <!-- End Logo -->

	      <!-- Responsive Toggle Button -->
	      <button type="button" class="navbar-toggler btn btn-icon btn-sm rounded-circle"
	              aria-label="Toggle navigation"
	              aria-expanded="false"
	              aria-controls="navBar"
	              data-toggle="collapse"
	              data-target="#navBar">
	        <span class="navbar-toggler-default">
	          <svg width="14" height="14" viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg">
	            <path fill="currentColor" d="M17.4,6.2H0.6C0.3,6.2,0,5.9,0,5.5V4.1c0-0.4,0.3-0.7,0.6-0.7h16.9c0.3,0,0.6,0.3,0.6,0.7v1.4C18,5.9,17.7,6.2,17.4,6.2z M17.4,14.1H0.6c-0.3,0-0.6-0.3-0.6-0.7V12c0-0.4,0.3-0.7,0.6-0.7h16.9c0.3,0,0.6,0.3,0.6,0.7v1.4C18,13.7,17.7,14.1,17.4,14.1z"/>
	          </svg>
	        </span>
	        <span class="navbar-toggler-toggled">
	          <svg width="14" height="14" viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg">
	            <path fill="currentColor" d="M11.5,9.5l5-5c0.2-0.2,0.2-0.6-0.1-0.9l-1-1c-0.3-0.3-0.7-0.3-0.9-0.1l-5,5l-5-5C4.3,2.3,3.9,2.4,3.6,2.6l-1,1 C2.4,3.9,2.3,4.3,2.5,4.5l5,5l-5,5c-0.2,0.2-0.2,0.6,0.1,0.9l1,1c0.3,0.3,0.7,0.3,0.9,0.1l5-5l5,5c0.2,0.2,0.6,0.2,0.9-0.1l1-1 c0.3-0.3,0.3-0.7,0.1-0.9L11.5,9.5z"/>
	          </svg>
	        </span>
	      </button>
	      <!-- End Responsive Toggle Button -->

	      <!-- Navigation -->
	      <div id="navBar" class="collapse navbar-collapse">
	        <div class="navbar-body header-abs-top-inner">
	          <ul class="navbar-nav">

	              <!--li class="hs-has-mega-menu navbar-nav-item">
	              <a id="homeMegaMenu" class="hs-mega-menu-invoker nav-link nav-link-toggle" href="javascript:;" aria-haspopup="true" aria-expanded="false">Landings</a>

	              <!-- Home - Mega Menu -->
	              <div class="hs-mega-menu dropdown-menu w-100" aria-labelledby="homeMegaMenu">
	                <div class="row no-gutters">
	                  <div class="col-lg-6">
	                    <!-- Banner Image -->
	                    <div class="navbar-banner" style="background-image: url(/img/750x750/img1.jpg);">
	                      <div class="navbar-banner-content">
	                        <div class="mb-4">
	                          <span class="h2 d-block text-white">Branding Works</span>
	                          <p class="text-white">Experience a level of our quality in both design &amp; customization works.</p>
	                        </div>
	                        <a class="btn btn-primary btn-sm transition-3d-hover" href="#">Learn More <i class="fas fa-angle-right fa-sm ml-1"></i></a>
	                      </div>
	                    </div>
	                    <!-- End Banner Image -->
	                  </div>

	                  <div class="col-lg-6">
	                    <div class="row mega-menu-body">
	                      <div class="col-sm-6 mb-3 mb-sm-0">
	                        <span class="d-block h5">Classic</span>
	                        <a class="dropdown-item" href="index.html">Agency</a>
	                        <a class="dropdown-item" href="classic-analytics.html">Analytics <span class="badge badge-primary badge-pill ml-2">Hot</span></a>
	                        <a class="dropdown-item" href="classic-studio.html">Studio</a>
	                        <a class="dropdown-item" href="classic-marketing.html">Marketing</a>
	                        <a class="dropdown-item" href="classic-advertisement.html" target="_blank">Advertisement <span class="badge badge-primary badge-pill ml-2">Hot</span></a>
	                        <a class="dropdown-item" href="classic-consulting.html">Consulting</a>
	                        <a class="dropdown-item" href="classic-portfolio.html">Portfolio</a>
	                        <a class="dropdown-item" href="classic-software.html">Software</a>
	                        <a class="dropdown-item" href="classic-business.html">Business</a>
	                      </div>

	                      <div class="col-sm-6">
	                        <span class="d-block h5">App</span>
	                        <div class="mb-3">
	                          <a class="dropdown-item" href="app-ui-kit.html">UI Kit</a>
	                          <a class="dropdown-item" href="app-saas.html">SaaS</a>
	                          <a class="dropdown-item" href="app-workflow.html">Workflow</a>
	                          <a class="dropdown-item" href="app-payment.html">Payment</a>
	                          <a class="dropdown-item" href="app-tool.html">Tool</a>
	                        </div>

	                        <span class="d-block h5">Onepages</span>
	                        <a class="dropdown-item" href="onepage-corporate.html">Corporate</a>
	                        <a class="dropdown-item" href="onepage-saas.html">SaaS <span class="badge badge-primary badge-pill ml-2">Hot</span></a>
	                      </div>
	                    </div>
	                  </div>
	                </div>
	              </div>
	              <!-- End Home - Mega Menu -->
	            </li>

	            <!-- Why Mo? -->
	            <li class="hs-has-sub-menu navbar-nav-item">
	              <a id="blogMegaMenu" class="hs-mega-menu-invoker nav-link" href="javascript:;" aria-haspopup="true" aria-expanded="false" aria-labelledby="blogSubMenu">Why Mo?</a>

	              <!-- Blog - Submenu -->
	              <div id="blogSubMenu" class="hs-sub-menu dropdown-menu" aria-labelledby="blogMegaMenu" style="min-width: 230px;">
	                <a class="dropdown-item" href="pages/foryou.html">Mo is for you</a>
	                <a class="dropdown-item" href="pages/foryourteam.html">Mo is for your team</a>
	                <a class="dropdown-item" href="pages/foryourcompany.html">Mo is for your company</a>
	                <div class="dropdown-divider"></div>
	                <a class="dropdown-item" href="#">Customers</a>
	                <a class="dropdown-item" href="#">Blog</a>
	              </div>
	              <!-- End Submenu -->
	            </li>
	            <!-- End Why Mo? -->

	             <!-- How it works -->
	            <li class="hs-has-sub-menu navbar-nav-item">
	              <a id="blogMegaMenu" class="hs-mega-menu-invoker nav-link" href="javascript:;" aria-haspopup="true" aria-expanded="false" aria-labelledby="blogSubMenu">How it works</a>

	              <!-- Blog - Submenu -->
	              <div id="blogSubMenu" class="hs-sub-menu dropdown-menu" aria-labelledby="blogMegaMenu" style="min-width: 230px;">
	                <a class="dropdown-item" href="pages/connect.html">Connect</a>
	                <a class="dropdown-item" href="pages/inspire.html">Inspire</a>
	                <a class="dropdown-item" href="pages/celebrate.html">Celebrate</a>
	                <div class="dropdown-divider"></div>
	                <a class="dropdown-item" href="pages/measure.html">Measure</a>
	              </div>
	              <!-- End Submenu -->
	            </li>
	            <!-- End how it works -->

	              <!-- Pricing -->
	            <li class="hs-has-sub-menu navbar-nav-item">
	              <a id="blogMegaMenu" class="nav-link" href="pages/pricing.html" aria-haspopup="true" aria-expanded="false" aria-labelledby="blogSubMenu">Pricing</a>
	            </li>

	             <!-- End pricing -->

	            <!-- Launch button -->
	            <li class="navbar-nav-last-item">
	              <a class="btn btn-sm btn-primary transition-3d-hover" href="#" target="_blank">
	                Launch Mo
	              </a>
	            </li>
	            <!-- End Launch button -->
	          </ul>
	        </div>
	      </div>
	      <!-- End Navigation -->
	    </nav>
	    <!-- End Nav -->
	  </div>
	</div>
</header>

<!-- Hero Section -->
<div class="container space-top-1 space-top-md-4 space-top-lg-4">
  <div class="w-lg-75 text-center mx-lg-auto">
    <div class="mb-9">
      <h1 class="display-4 mb-4">Elevate your team, together</h1>
      <p class="lead">Mo isn’t just a communication tool - it’s an elevated way to experience work. Teams that use Mo have stronger relationships, more empowered working environments and create greater opportunities for one another.</p>
    </div>
  </div>
</div>

 <!-- Hero Section -->
<div class="container space-top-md-0 space-top-lg-0">
  <div class="text-center mx-lg-auto">

    <div class="mx-lg-auto">
      <img class="img-fluid" src="/img/beforeafter.png" alt="Image Description">
    </div>
  </div>
</div>

<div class="container space-top-1 space-bottom-2 space-top-md-2 space-top-lg-2">
  <div class="w-lg-75 text-center mx-lg-auto">
    <div class="mb-9">
      <h2 class="mb-4">Finally, a communication tool that cares about your people</h2>
    </div>
  </div>
</div>

<div class="bg-dark">
   <!-- Icon Blocks Section -->
    <div id="aboutSection" class="container space-2 space-lg-3">
      <!-- Title -->
      <div class="w-lg-65 text-center text-white mx-auto mb-5 mb-sm-9">
        <h1 class="h1 text-white">We believe that the moments your team share...</h1>
      </div>
      <!-- End Title -->

      <div class="row">
        <div class="col-md-4 col-sm-12 mb-7">
          <div class="card">
            <div class="card-body">
          <!-- Icon Blocks -->
            <div class="px-lg-3">
              <span class="d-block small text-center text-muted text-cap mb-3 mt-3">Moments of</span>
              <h2 class="text-center"><span class="text-dark text-highlight-primary">Connection</span></h2>

              <ul class="list-article mt-4">
                <li class="text-dark">That team trip that bonded you all</li>
                <li class="text-dark">That tricky conversation that got you all back on track</li>
                <li class="text-dark">That weird day you all discovered a mutual love of 90s pop</li>
              </ul>
            </div>   
  
            </div>
          </div>
          <!-- End Icon Blocks -->
        </div>

        <div class="col-md-4 col-sm-12 mb-7">
          <div class="card">
            <div class="card-body">
          <!-- Icon Blocks -->
            <div class="px-lg-3">
              <span class="d-block small text-center text-muted text-cap mb-3 mt-3">Moments of</span>
              <h2 class="text-center"><span class="text-dark text-highlight-primary">Inspiration</span></h2>

              <ul class="list-article mt-4">
                <li class="text-dark">That story you told that lifted spirits</li>
                <li class="text-dark">That message of encouragement that made everyones day</li>
                <li class="text-dark">That new way of working that changed the game</li>
              </ul>

            </div>   
          
          </div>
        </div>       

          <!-- End Icon Blocks -->
        </div>

        <div class="col-md-4 col-sm-12 mb-7">
         <div class="card">
            <div class="card-body">
          <!-- Icon Blocks -->
            <div class="px-lg-3">
              <span class="d-block small text-center text-muted text-cap mb-3 mt-3">Moments of</span>
              <h2 class="text-center"><span class="text-dark text-highlight-primary">Celebration</span></h2>

              <ul class="list-article mt-4">
                <li class="text-dark">That pub session it's best to forget</li>
                <li class="text-dark">That brilliant presentation you helped smash out the park together</li>
                <li class="text-dark">That important new starter you all wanted to impress</li>
              </ul>

            </div>   
          
          </div>
        </div>  
          <!-- End Icon Blocks -->
      </div>


        <img class="img-fluid d-none d-md-block w-75 mx-auto mb-7" src="/svg/components/three-pointers.svg" alt="SVG Arrow">

      <div class="w-lg-65 text-center text-white mx-auto mb-5 mb-sm-9">
        <h2 class="h1 text-white mt-6">...have the power to elevate</h2>
      </div>

      <div class="container space-top-md-0 space-bottom-1 space-top-lg-0">
        <div class="text-center mx-lg-auto">

          <div class="mx-lg-auto">
            <img class="img-fluid" src="/img/video.png" alt="Image Description">
          </div>
        </div>
      </div>
	</div>
 </div>
</div>


 <!-- Hero Section -->
<div class="container-sm space-top-2 space-top-md-3 space-top-lg-3">
  <div class="w-lg-75 text-center mx-lg-auto">
    <div class="mb-9">
      <h1 class="mb-4">Amplify your team's impact with moments</h1>
    </div>
  </div>
</div>

<div class="container space-0 space-lg-2">
  <div class="row justify-content-around">
    <div class="col-sm-12 col-lg-4">
      <div class="mb-5">
        <h2 class="mb-3">Moments of <span class="text-highlight-primary">Connection</span></h2>
        <p>Mo provides a safe space for your team to connect in together - wherever they are in the world. Bring back those spontaneous, water-cooler moments. Feel comfortable sharing how you're all really feeling. And find a natural a place to capture your team's best memories.</p>
        <a class="btn btn-sm btn-secondary text-dark transition-3d-hover mt-4" href="pages/connect" target="_blank">
                 Learn more
         </a>
      </div>
    </div>
    <div class="col-sm-12 col-lg-4 d-none d-md-block">
      <img class="img-fluid shadow-lg" src="/img/connect.gif" alt="Image Description" style="border: 1px solid rgba(33,33,33,0.08); border-radius: 16px;";>
    </div>
  </div>
</div>

<div class="container space-0 space-lg-2 mb-4">
  <div class="row justify-content-around">
    <div class="col-sm-12 col-lg-4 d-none d-md-block">
      <div class="mb-5">
        <img class="img-fluid shadow-lg" src="/img/inspire.gif" alt="Image Description" style="border: 1px solid rgba(33,33,33,0.08); border-radius: 16px;";>
      </div>
    </div>
    <div class="col-sm-12 col-lg-4">
      <h2 class="mb-3">Moments of <span class="text-highlight-primary">Inspiration</span></h2>
        <p>Mo gently encourages your team to become leaders and to have each other's backs like never before. Help everyone find ways to express themselves. Encourage a culture of participation and align everyone around a common sense of purpose.</p>
        <a class="btn btn-sm btn-secondary text-dark transition-3d-hover mt-4" href="pages/inspire" target="_blank">
                    Learn more
                  </a>
    </div>
  </div>
</div>

<div class="container space-0 space-lg-2">
  <div class="row justify-content-around mb-10">
    <div class="col-sm-12 col-lg-4">
      <div class="mb-5">
        <h2 class="mb-3">Moments of <span class="text-highlight-primary">Celebration</span></h2>
        <p>Mo helps your team find authentic ways to show appreciation for one another. Incentivise your team’s progression. Place value on your teams culture. And share gifts and experiences that help everyone grow.</p>
        <a class="btn btn-sm btn-secondary text-dark transition-3d-hover mt-4" href="pages/celebrate" target="_blank">
                    Learn more
                  </a>
      </div>
    </div>
    <div class="col-sm-12 col-lg-4 d-none d-md-block">
      <img class="img-fluid shadow-lg" src="/img/celebrate.gif" alt="Image Description" style="border: 1px solid rgba(33,33,33,0.08); border-radius: 16px;";>
    </div>
  </div>
</div>

<div class="bg-light">
    <div class="container space-2 space-lg-3 active">
      <!-- Title -->
      <div class="w-md-80 w-lg-50 text-center mx-md-auto mb-5 mb-md-9">
        <h1>For teams of all types</h1>
      </div>
      <!-- End Title -->

      <!-- Icon Blocks -->
      <div class="row mb-5 mb-md-9">
        <div class="col-sm-6 col-md-4 mb-3 mb-sm-7">
          <!-- Icon Block -->
          <div class="media align-items-center mb-2">
            <div class="media-body">
              <h4 class="mb-0">Product &amp; Engineering</h4>
            </div>
          </div>
          <p>Use Mo to recognise the devops team for degugging the platform last night</p>
          <!-- End Icon Block -->
        </div>

        <div class="col-sm-6 col-md-4 mb-3 mb-sm-7">
          <!-- Icon Block -->
          <div class="media align-items-center mb-2">
            <div class="media-body">
              <h4 class="mb-0">Marketing & growth</h4>
            </div>
          </div>
          <p>Use Mo to celebrate together about the campaign you launched that crushed it</p>
          <!-- End Icon Block -->
        </div>

        <div class="col-sm-6 col-md-4 mb-3 mb-sm-7 mb-md-0">
          <!-- Icon Block -->
          <div class="media align-items-center mb-2">
            <div class="media-body">
              <h4 class="mb-0">Customer Success</h4>
            </div>
          </div>
          <p>Use Mo to lift each other's spirits when it feels like nothing is going right</p>
          <!-- End Icon Block -->
        </div>

        <div class="col-sm-6 col-md-4 mb-3 mb-sm-7 mb-md-0">
          <!-- Icon Block -->
          <div class="media align-items-center mb-2">
            <div class="media-body">
              <h4 class="mb-0">Sales & Rev Ops</h4>
            </div>
          </div>
          <p>Use Mo to incentivise your A players to make it the best month yet</p>
          <!-- End Icon Block -->
        </div>

        <div class="col-sm-6 col-md-4 mb-3 mb-sm-7 mb-md-0">
          <!-- Icon Block -->
          <div class="media align-items-center mb-2">
            <div class="media-body">
              <h4 class="mb-0">IT & Finance</h4>
            </div>
          </div>
          <p>Use Mo to track how far your culture has improved since the new Finance Director joined </p>
          <!-- End Icon Block -->
        </div>

        <div class="col-sm-6 col-md-4">
          <!-- Icon Block -->
          <div class="media align-items-center mb-2">
            <div class="media-body">
              <h4 class="mb-0">People & HR</h4>
            </div>
          </div>
          <p>Use Mo to look after your own team when you're all busy worrying about everyone else's</p>
          <!-- End Icon Block -->
        </div>
      </div>
      <!-- End Icon Blocks -->
    </div>
</div>

<div class="container space-2 space-lg-3 active">

 <div class="w-md-80 w-lg-50 text-center mx-md-auto mb-5 mb-md-9">
    <h1>For teams at any stage</h1>
  </div>

  <div class="row">
    <div class="col-lg-6 mb-3 mb-lg-0">
      <!-- Card -->
      <article class="card text-center">
      	<div class="card-body">
	        <div class="">
	          <h3>Growning in size</h3>
	          <div class="mb-4">
	            <p>Use Mo when you're growing and want your culture to come with you</p>
	          </div>
	          <a class="btn btn-sm btn-secondary transition-3d-hover text-dark" href="#">Learn more <i class="fas fa-angle-right ml-1"></i></a>
	        </div>
	      </div>
      </article>
      <!-- End Card -->
    </div>

    <div class="col-lg-6">
      <!-- Card -->
      <article class="card text-center">
      	<div class="card-body">
	        <div class="">
	          <h3>Evolving in mindset</h3>
	          <div class="mb-4">
	            <p>Use Mo when you're ascending and want to take things to the next level</p>
	          </div>
	          <a class="btn btn-sm btn-secondary transition-3d-hover text-dark" href="#">Learn more <i class="fas fa-angle-right ml-1"></i></a>
	        </div>
	      </div>
      </article>
      <!-- End Card -->
    </div>
  </div>
</div>


</div>



 <!-- JS Global Compulsory -->
  <script src="/vendor/jquery/dist/jquery.min.js"></script>
  <script src="/vendor/jquery-migrate/dist/jquery-migrate.min.js"></script>
  <script src="/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

  <!-- JS Implementing Plugins -->
  <script src="/vendor/hs-header/dist/hs-header.min.js"></script>
  <script src="/vendor/hs-go-to/dist/hs-go-to.min.js"></script>
  <script src="/vendor/hs-mega-menu/dist/hs-mega-menu.min.js"></script>
  <script src="/vendor/slick-carousel/slick/slick.js"></script>
  <script src="/vendor/dzsparallaxer/dzsparallaxer.js"></script>
  <script src="/vendor/hs-video-bg/dist/hs-video-bg.min.js"></script>
  <script src="/vendor/typed.js/lib/typed.min.js"></script>
  <script src="/vendor/jquery-validation/dist/jquery.validate.min.js"></script>
  <script src="/vendor/aos/dist/aos.js"></script>

  <!-- JS Front -->
  <script src="/js/hs.core.js"></script>
  <script src="/js/hs.slick-carousel.js"></script>
  <script src="/js/hs.validation.js"></script>

  <!-- JS Plugins Init. -->
  <script>
    $(document).on('ready', function () {
      // initialization of header
      var header = new HSHeader($('#header')).init();

      // initialization of mega menu
      var megaMenu = new HSMegaMenu($('.js-mega-menu'), {
        desktop: {
          position: 'left'
        }
      }).init();

      // initialization of slick carousel
      $('.js-slick-carousel').each(function() {
        var slickCarousel = $.HSCore.components.HSSlickCarousel.init($(this));
      });

      // initialization of video on background
      $('.js-video-bg').each(function () {
        var videoBg = new HSVideoBg($(this)).init();
      });

      // initialization of text animation (typing)
      var typed = new Typed(".js-text-animation", {
        strings: ["modern", "creative", "professional"],
        typeSpeed: 70,
        loop: true,
        backSpeed: 40,
        backDelay: 2000
      });

      // initialization of form validation
      $('.js-validate').each(function () {
        var validation = $.HSCore.components.HSValidation.init($(this));
      });

      // initialization of aos
      AOS.init({
        duration: 650,
        once: true
      });

      // initialization of go to
      $('.js-go-to').each(function () {
        var goTo = new HSGoTo($(this)).init();
      });
    });
  </script>

  <!-- IE Support -->
  <script>
    if (/MSIE \d|Trident.*rv:/.test(navigator.userAgent)) document.write('<script src="/vendor/polifills.js"><\/script>');
  </script>




